name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: make-library
      run: make
      working-directory: src
    - name: make-tests
      run: make
      working-directory: tests
    - name: run-tests
      run: ./test_chaudiere
      working-directory: tests
